<section class="card" style="position: relative;">
    <div class="card-body">
        <h1 style="left: 35%; position: relative;">Equipo Troya</h1>
        <br><br>
        <p>
            Adipisicing lorem laudantium fuga excepturi iste earum? Architecto et sint exercitationem nihil voluptatum? Quae dolores sint fugiat inventore soluta ad Tenetur minima odit qui fugit eveniet minima? Repellat nobis harum quia placeat eveniet fugit voluptatem
            Pariatur maiores molestiae est quas.
        </p>
        <br><br><br>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="assets/img/mision.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Misión</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero doloribus magnam voluptatem sequi libero? Consectetur natus at ad molestiae nam quo earum! Facilis optio, ipsa tempore corrupti, maiores soluta cupiditate voluptas id laudantium
                        quis fugit nesciunt est expedita magni incidunt dolore eveniet delectus cum? Cumque, obcaecati. Eos, cupiditate error? Harum..</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/img/vision.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Visión</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, excepturi corporis quasi culpa aperiam ullam voluptatem quibusdam nobis magnam aliquam harum quos perspiciatis eos maxime quia laborum dicta error architecto a hic,
                        ipsa eius beatae dolor? Quam recusandae maiores aut soluta natus deserunt dignissimos, asperiores magni eligendi iure ut cupiditate!.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/img/valores.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Valores</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem veniam ducimus commodi amet, possimus nemo non! Atque voluptatem dolorem fugit dolores iusto aliquam suscipit nesciunt quisquam assumenda odio provident id deserunt dolorum
                        sed delectus autem, ipsam ipsa. Obcaecati non voluptates in, magni fuga iste maxime doloribus, corrupti aspernatur deserunt veritatis?.</p>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="card bg-dark text-white">
            <img class="card-img" src="assets/img/actualiza.webp" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
            </div>

        </div>



    </div>
</section>