<div style="position: relative;" class="jumbotron mt-4">
    <h1 style="max-width: 50%; text-align: left;" class="display-4">La herramienta de desarrollo que cambiara tu forma de trabajar.</h1>
    <img src="assets/img/inicio.png" width="45%" style="position: absolute; left: 50%; top: 3%; border-radius: 5%;" alt="">
    <br>
    <br>
    <a class="btn btn-primary btn-lg" style="margin-left: 1%; padding-right: 5%; text-align: center; justify-content: center; align-items: center;" routerLink="/signin" role="button">Ingresar</a>
    <br> <br> <br> <br> <br><br><br><br><br>
    <div class="contenido">
        <h2>La mejor foma de organizar tu equipo de trabajo</h2>
        <br>
        <h4>
            Troya Web está diseñado para que todos los miembros de tu equipo de software puedan planificar, supervisar y publicar tareas de gran calidad.
            <br>
            <br>
            <br>
        </h4>

        <div class="Bonito">
            <div class="contenido">
                <div class="crear">
                    <h4>crea</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, officia?</p>
                    <img src="assets/img/actualiza.webp" width="100%" style="position: relative; border-radius: 5%;" alt="">
                    <br>
                    <br>
                </div>
                <div class="actualizar">
                    <h4>Actaliza</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, officia?</p>
                    <img src="assets/img/crea.webp" width="100%" style="position: relative; border-radius: 5%;" alt="">
                    <br>
                    <br>
                </div>

                <br><br><br><br>
                <h2>La mejor foma de organizar tu equipo de trabajo</h2>
                <div class="row flex-container">
                    <div class="column column-md-4">
                        <div class="component component--image-heading-textblock">
                            <div class="component__image"> <img id="info.magnolia.context.HTMLEscapingWebContextWrapper@23571792" alt="Huella dactilar" class="component__image" style="height:36px;" src="https://wac-cdn.atlassian.com/dam/jcr:5fc4019a-9fd4-4571-a754-ee3a33b8cc14/PRIVACY@2x.png?cdnVersion=1266"
                                    loading="auto"> </div>
                            <div class="component__heading-textblock">
                                <h4 class="heading"> Privacidad </h4>
                                <p>troya web ha invertido en el RGPD y en el Escudo de la privacidad para garantizar que todos los datos se gestionan con cuidado.</p>
                            </div>
                        </div>
                    </div>
                    <div class="column column-md-4">
                        <div class="component component--image-heading-textblock">
                            <div class="component__image"> <img id="info.magnolia.context.HTMLEscapingWebContextWrapper@23571792" alt="Dos llaves" class="component__image" style="height:36px;" src="https://wac-cdn.atlassian.com/dam/jcr:d7803d4b-80d4-4fb8-a358-b971f497d3ef/DATAENCRYPTION@2x.png?cdnVersion=1266"
                                    loading="auto"> </div>
                            <div class="component__heading-textblock">
                                <h4 class="heading"> Cifrado de los datos </h4>
                                <p>Toya web utiliza el cifrado en tránsito y en reposo para proteger los datos de tu organización.</p>
                            </div>
                        </div>
                    </div>
                    <div class="column column-md-4">
                        <div class="component component--image-heading-textblock">
                            <div class="component__image"> <img id="info.magnolia.context.HTMLEscapingWebContextWrapper@23571792" alt="Escudo con marca de verificación" class="component__image" style="height:36px;" src="https://wac-cdn.atlassian.com/dam/jcr:8864d1c9-fa84-47f8-806b-e58b733e5689/icons-security-shield%20check-dark-60x72@2x.png?cdnVersion=1266"
                                    loading="auto"> </div>
                            <div class="component__heading-textblock">
                                <h4 class="heading"> Conformidad </h4>
                                <p>Verifica la seguridad de Troya web con SOC2, SOC3, ISO 27001, ISO 27018, PCI DSS y mucho más.</p>
                            </div>
                        </div>
                    </div>

                    <br><br><br><br>
                    <h2>La mejor foma de organizar tu equipo de trabajo</h2>
                    <div class="container-fluid md-comfortable-bottom wcf-201–control">
                        <div class="row flex-container reduced-row">
                            <div class="column column-sm-6 column-md-4">
                                <div class="component component--image-heading-textblock">
                                    <div class="component__image"> <img id="info.magnolia.context.HTMLEscapingWebContextWrapper@23571792" alt="Icono" class="component__image" style="width:42px;height:42px;" src="https://wac-cdn.atlassian.com/dam/jcr:f7f91d46-4ce9-4955-bcdb-2967d9a5e9aa/organize-workflow.svg?cdnVersion=1266"
                                            loading="auto"> </div>
                                    <div class="component__heading-textblock">
                                        <h3 class="heading"> Planificación flexible </h3>
                                        <p>¿Scrum? Sí. ¿Kanban? También. ¿Metodología mixta? También. Con las potentes funcionalidades de planificación de Troya web, tu equipo podrá planificar con flexibilidad de la manera que les resulte más conveniente.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column column-sm-6 column-md-4">
                                <div class="component component--image-heading-textblock">
                                    <div class="component__image"> <img id="info.magnolia.context.HTMLEscapingWebContextWrapper@23571792" alt="Icono" class="component__image" style="width:42px;height:42px;" src="https://wac-cdn.atlassian.com/dam/jcr:73199416-ccfe-4f9b-84b2-570b401a7870/chart-line.svg?cdnVersion=1266"
                                            loading="auto"> </div>
                                    <div class="component__heading-textblock">
                                        <h3 class="heading"> Estimaciones precisas </h3>
                                        <p>Las estimaciones ayudan a tu equipo a trabajar con más precisión y eficacia. Puedes utilizar puntos de historia, horas, tallas de camisetas o tu propia técnica de estimación. Troya web es compatible con todas ellas.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column column-sm-6 column-md-4">
                                <div class="component component--image-heading-textblock">
                                    <div class="component__image"> <img id="info.magnolia.context.HTMLEscapingWebContextWrapper@23571792" alt="Icono" class="component__image" style="width:42px;height:42px;" src="https://wac-cdn.atlassian.com/dam/jcr:135905fd-33ad-4cd7-adf0-02f93fcbadb6/finance-dollar%20dotted.svg?cdnVersion=1266"
                                            loading="auto"> </div>
                                    <div class="component__heading-textblock">
                                        <h3 class="heading"> Priorización basada en valores </h3>
                                        <p>Ordena historias de usuario, incidencias y errores en tu backlog del producto con solo arrastrarlos y soltarlos por prioridad. Asegúrate de que las historias que ofrecen mayor valor al cliente estén siempre en lo
                                            más alto de la lista.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column column-sm-6 column-md-4">
                                <div class="component component--image-heading-textblock">
                                    <div class="component__image"> <img id="info.magnolia.context.HTMLEscapingWebContextWrapper@23571792" alt="Icono" class="component__image" style="width:42px;height:42px;" src="https://wac-cdn.atlassian.com/dam/jcr:c656d0c9-53d1-413a-ae75-54c9f93d70b9/transparent%20icon.svg?cdnVersion=1266"
                                            loading="auto"> </div>
                                    <div class="component__heading-textblock">
                                        <h3 class="heading"> Ejecución transparente </h3>
                                        <p>Tanto si tu equipo está al otro lado de la mesa o al otro lado del mundo, troya web ofrece un nivel superior de transparencia sobre el trabajo de cada equipo y mantiene a la organización en sintonía.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column column-sm-6 column-md-4">
                                <div class="component component--image-heading-textblock">
                                    <div class="component__image"> <img id="info.magnolia.context.HTMLEscapingWebContextWrapper@23571792" alt="Icono" class="component__image" style="width:42px;height:42px;" src="https://wac-cdn.atlassian.com/dam/jcr:0f07dc8d-04b9-43a2-b9d9-75d68b686a5b/status-check.svg?cdnVersion=1266"
                                            loading="auto"> </div>
                                    <div class="component__heading-textblock">
                                        <h3 class="heading"> Resultados prácticos </h3>
                                        <p>Su completa funcionalidad de creación de informes ofrece información esencial al equipo sobre sus procedimientos ágiles. Al estar respaldadas por datos, ahora las retrospectivas se basan más en los datos y resultan
                                            más útiles que nunca.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column column-sm-6 column-md-4">
                                <div class="component component--image-heading-textblock">
                                    <div class="component__image"> <img id="info.magnolia.context.HTMLEscapingWebContextWrapper@23571792" alt="Icono" class="component__image" style="width:42px;height:42px;" src="https://wac-cdn.atlassian.com/dam/jcr:90691311-2ab1-41ff-ae98-a1ef782c5a96/organize-expand.svg?cdnVersion=1266"
                                            loading="auto"> </div>
                                    <div class="component__heading-textblock">
                                        <h3 class="heading"> Evolución escalable </h3>
                                        <p>Añade y cambia tipos de incidencias, campos y flujos de trabajo a medida que evolucione tu equipo. Troya web ofrece una gestión de proyectos ágiles diseñada para equipos de cualquier tamaño y condición.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>