<div class="row">
  <ng-container *ngIf="tareas.length >= 1; else tareasNull">
    <!-- ========== TAREAS ================== -->
    <ng-container *ngFor="let tarea of tareas">
      <div style="padding-top: 15px; max-width:100%; flex:100%;">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between align-items-center">
              {{tarea.NombreTarea}}
              <a [routerLink]="['/editarTarea',tarea._id]"><i class="fas fa-edit"></i></a>
              <!-- editar tarea -->
              <div class="badge badge-primary text-wrap fas fa-clock"
                style="width: 8rem; position: absolute; top:5px; right: 5px; ">
                {{tarea.FechaTermino}}
              </div>
            </h4>
            <p>
              {{tarea.Descripcion}}
            </p>
            <div class="badge badge-primary text-wrap fas fa-id-card-alt"
              style="width: 16rem; position: absolute; top:5px; right: 5px; ">
            </div>
          </div>
          <div class="card-footer">
            <form (click)="eliminarTarea(tarea._id)">
              <button type="submit" class="btn btn-danger btn-sm float-right"><i class="fas fa-trash"></i> Eliminar
              </button>
            </form>
            <a [routerLink]="['/nuevaSubTarea',tarea._id]" class="btn btn-primary btn-sm"><i
                class="fas fa-user-tag"></i>
              Agregar
              subtarea </a>
          </div>
        </div>
      </div>
      <!-- ========== SUB-TAREAS ================== -->
      <ng-container *ngFor="let subtarea of subtareas">
        <ng-container *ngIf="subtarea.TareaPadre == tarea._id">
          <div class="ml-auto" style="padding-top: 15px; max-width:90%; flex:90%;">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                  {{subtarea.NombreTarea}}
                  <a [routerLink]="['/editarTarea',subtarea._id]"><i class="fas fa-edit"></i></a>
                  <!-- editar subtarea -->
                  <div class="badge badge-primary text-wrap fas fa-clock"
                    style="width: 8rem; position: absolute; top:5px; right: 5px; ">
                    {{subtarea.FechaTermino}}
                  </div>
                </h4>
                <p>
                  {{subtarea.Descripcion}}
                </p>
                <div class="badge badge-primary text-wrap fas fa-id-card-alt"
                  style="width: 16rem; position: absolute; top:5px; right: 5px; ">
                </div>
              </div>
              <div class="card-footer">
                <form (click)="eliminarTarea(subtarea._id)">
                  <button type="submit" class="btn btn-danger btn-sm float-right"><i class="fas fa-trash"></i> Eliminar
                  </button>
                </form>
              </div>
            </div>
          </div>

        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #tareasNull>
    <div class="card mx-auto">
      <div class="card-body">
        <h1>Hola </h1>
        <br>
        <p clsss="lead">Aun no tienes tareas creada.</p>
        <br>
        <br>
        <p class="lead">Crea una!</p>
        <a href="/nuevaTarea" class="btn btn-success btn-block">Crear tarea!</a>
      </div>
    </div>
  </ng-template>


  <!-- TAREA NO ACPETADA NI RECHAZADA -->
  <!-- <div class="TareasAsignadas" style="padding-top: 15px; max-width:100%; flex:100%;" *ngFor="let tarea of tareas">

        <div class="card" style="background: repeating-linear-gradient(45deg, #d27e7e, #f700ff91 100px); color: #fff;">
            <div class="card-body">
                <div class="tareasAsignadas text-center">
                    <h3>Tienes una nueva tarea asignada.</h3>
                    <br><br>
                    <a class="galeria-link" data-toggle="modal" href="#verTarea" style="text-decoration: none;">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Ver</button>
                    </a>
                </div>

            </div>
            <div class="card-footer" style="display: none;">
                <button type="submit" class="btn btn-danger btn-sm float-right"><i class="fas fa-trash"></i> Eliminar</button>
                <form routerLink="/nuevaSubTarea" method="GET">
                    <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-user-tag"></i> Agregar sub
            tarea</button>
                </form>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="verTarea" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <a class="btn btn-danger float-right" data-dismiss="modal">
                        <i class="fas fa-times"></i>
                    </a>
                    <h2 id="tit" class="text-center">T R O Y A <i class="fas fa-user-astronaut"></i></h2>
                    <div class="card text-center">
                        <div class="card-header">
                            Tareas
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Titulo Tarea</h5>
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda corrupti provident odio. Commodi, vero voluptate numquam quis sint laudantium reprehenderit ipsum fuga recusandae repellat vitae delectus nam architecto exercitationem.
                                Ex.
                            </p>

                        </div>
                        <div class="card-footer text-muted">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Aceptar</button>
                            <a type="button" class="btn btn-secondary btn-lg btn-block" href="/enviarCorreo">Rechazar</a>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>

            </div>
        </div>
    </div> -->
</div>
