<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Nueva Sub-Tarea</h3>
    </div>
    <div class="card-body">
      <form (submit)="crearSubTarea()" >
        <div class="form-group">
          <input maxlength="60" type="text" [(ngModel)]="tarea.NombreTarea" name="NombreTarea" class="form-control" placeholder="Titulo" autofocus />
        </div>

        <select name="Responsable" [(ngModel)]="tarea.Responsable" class="responsable form-control">
          <option value=' '>Responsable</option>
          <ng-container *ngFor="let usuario of usuarios">
            <option value='{{usuario._id}}'>{{usuario.NombreUsuario}} {{usuario.ApellidoUsuario}}</option>
          </ng-container>
        </select>

        <div class="form-group">
          <textarea name="Descripcion" [(ngModel)]="tarea.Descripcion" class="form-control" placeholder="Descripcion"></textarea>
        </div>

        <div class="form-group">
          <input type="date"  [(ngModel)]="tarea.FechaTermino" name="FechaTermino" class="form-control" >
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Guardar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
