<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Inicio de sesión
            </div>
            <img src="assets/img/logo.jpg" alt="">
            <div class="card-body">
                <form (submit)="signIn()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="usuario.CorreoUsuario" name="CorreoUsuario" class="form-control" placeholder="Correo" required autofocus>
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="usuario.ContrasenaUsuario" name="ContrasenaUsuario" class="form-control" placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                    Entrar
          </button>
                </form>
            </div>
        </div>
    </div>

</div>