<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="container">
            <a style="color:white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" class="navbar-brand" routerLink="/">T R O Y A <i class="fas fa-user-astronaut"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                        <!-- <li class="nav-item ">
                            <a class="nav-link " routerLink="/signup " routerLinkActive="active ">Registrarse</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/" routerLinkActive="active">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about" routerLinkActive="active">Nosotros</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" routerLink="/signin" routerLinkActive="active">Ingresar</a>
                        </li>
                    </ng-container>
                    <ng-template #loggedIn>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="material-icons">
                                    add_box
                                 </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/tareas">Tareas</a>
                                <a class="dropdown-item" href="/nuevaTarea">Crear Nueva Tarea</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="authService.logout()" href="/signin">Desconectarse</a>
                            </div>

                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container p-5 ">
    <router-outlet></router-outlet>
</div>