<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Nueva tarea</h3>
    </div>

    <div class="card-body">
      <form (submit)="crearTarea()">

        <div class="form-group">
          <input maxlength="60" type="text" placeholder="Titulo" [(ngModel)]="tarea.NombreTarea" name="NombreTarea"
            class="form-control">
        </div>
        <select [(ngModel)]="tarea.Responsable" name="Responsable" class="responsable form-control">
          <option value=' '>Responsable</option>
          <ng-container *ngFor="let usuario of usuarios">
            <option value='{{usuario._id}}'>{{usuario.NombreUsuario}} {{usuario.ApellidoUsuario}}</option>
          </ng-container>
        </select>

        <div class="form-group">
          <textarea placeholder="Descripcion" [(ngModel)]="tarea.Descripcion" name="Descripcion"
            class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="date" [(ngModel)]="tarea.FechaTermino" id="tiempo" name="FechaTermino" class="time form-control">
          <script>
            var time = document.getElementById('tiempo');
            var fechaActual = Date.now();
            validarFecha();

            function validarFecha() {
              if (time == fechaActual) {
                console.log("es la misma fecha");
              } else {
                console.log("estas a tiempo");
              }
            };

          </script>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Guardar
          </button>
        </div>

        
      </form>

    </div>
  </div>
</div>
