<div class="col-md-14 mx-auto">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Formulario de rechazo</h3>
                    </div>
                    <div class="card-body">
                        <form action="/enviar-correo" method="POST">

                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Nombre" autofocus>
                            </div>

                            <div class="form-group">
                                <input type="email" name="email" placeholder="Ingrese ID" class="form-control">
                            </div>

                            <!-- <div class="form-group">
                                <input type="number" name="Tarea" placeholder="ID de tarea" class="form-control">
                            </div>
 -->
                            <div class="form-group">
                                <textarea name="message" class="form-control" placeholder="Ingrese motivo de rechazo"></textarea>
                            </div>
                            <div class="form-group">
                                <h4>Adjunto</h4>
                                <input type="file" name="adjunto" class="form-control">
                            </div>

                            <button class="btn btn-primary btn-block">
                                Enviar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>