<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrarse
            </div>
            <div class="card-body">
                <form (submit)="signUp()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="usuario.NombreUsuario" name="NombreUsuario" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="usuario.ApellidoUsuario" name="ApellidoUsuario" class="form-control" placeholder="Apellido">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="usuario.CorreoUsuario" name="CorreoUsuario" class="form-control" placeholder="Correo" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="usuario.ContrasenaUsuario" name="ContrasenaUsuario" class="form-control" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="usuario.DepartamentoUsuario" name="DepartamentoUsuario" class="form-control" placeholder="Departamento">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
