/* You can add global styles to this file, and also import other style files */

body {
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #3a56a3, #7834b8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    background: linear-gradient( to right, #3a56a3, #7834b8) !important;
}

.nav-link {
    color: white !important;
}

.logo {
    width: 30%;
}

.contenido {
    max-width: 60%;
    flex-wrap: 2;
    text-align: center;
    align-items: center;
    position: relative;
    left: 16%;
}